<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wanderfar.expander">

   <!-- <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name="com.wanderfar.expander.Application.Expander"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.wanderfar.expander.MainActivity.MainActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.wanderfar.expander.Macro.MacroActivity"
            android:label="@string/title_activity_macro"
            android:parentActivityName="com.wanderfar.expander.MainActivity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wanderfar.expander.MainActivity.MainActivity" />
        </activity>
        <activity
            android:name="com.wanderfar.expander.Settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.wanderfar.expander.MainActivity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wanderfar.expander.MainActivity.MainActivity" />
        </activity>
        <activity android:name="com.wanderfar.expander.About.AboutActivity"></activity>

        <service
            android:name="com.wanderfar.expander.Services.MacroAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service>
    </application>

</manifest>